.bar{
  /*background-color: rgb(126, 123, 123);*/
  background-color: darkcyan;
  background-image: linear-gradient(0deg, rgba(0,62,62, 0),rgba(0,62,62, 0.8));
 /* background:repeating-linear-gradient(180deg, #1d1716, #42240c, #a55233) ; */
  color: #EEE;
  display: grid;
  margin: 0;
  grid-template-areas: 'logo search login';
  align-items: center; 
  height: 4em;
  justify-content:space-between;
  padding-bottom: 1em;
}

.header-logo {
  grid-area: logo;
  margin-left: 3em;
  
}
.header-logo h1 {
  height: auto;
  margin: 0;
  padding: 0;
  
}
.haeder-search{
  grid-area: search;
  display: flexbox;
  align-items: center;
  margin: 0;
  padding: 0;
  
}
.header-search input[type="text"]{
  
  width:200px ;
  height: 30px;
  border-radius: 2em;
}
.header-search button[type="submit"]{
  margin-left: 1em;
  font-size: 1.1em;
  border-radius: 1em;
  
}
.header-login {
  grid-area: login;
  margin-right: 3em;
  
}
.header-login button{
  border-radius: 1em;
  padding: 0.2em 1em;
}
.header-login div{
  float: left;
  padding-right:10px;
}



footer {
  background-color: black;
  display: grid;
  grid-template-areas: ' footer-logo  list list2';
  align-items: center; 
  justify-content:space-between;
  grid: 30% 30% 40% ;
  /* position: fixed;
  bottom: 0; 
  width: 100%; */
  padding-top: 2em;
}
.team{
  background-color: black;
 
  /* position: fixed;
  bottom: 7.9em; 
  width: 100%; */
}
 p{
  color: white;
  text-align: center;
  margin: 0;
 margin-left: 3em;
 font-size: 20px;
}
 p span {
  color: red;
}
.footer-logo{
  grid-area:footer-logo;
  color: #EEE;
  
  
}
.list{
  grid-area:list;
 color: #EEE;
 
 
}
.list2{
  grid-area:list2;
 color: #EEE;
}
.list-decoration{
  list-style-type: none;
  font-size: 20px;
}
.bar2{
  width: 100%;
      display: flex;
      justify-content: center;
    position: relative;
  line-height: normal;
      height: 50px;
  flex-direction: row;
  background-color: darkcyan;
  background-image: linear-gradient(0deg, rgba(0,62,62, 0),rgba(0,62,62, 0.8));
  margin: 0;
  margin-bottom:3em;
  
  }
   #navbar {
    width: 100%;   
    top:10px;
    left:10px;  
   
}
.navul {
        margin: 0px;
        padding: 5px 0px 5px 30px;
        

}
a:visited {
  background-color: cyan;
}
Link{
  text-decoration: none;
  text-decoration-color: none;
}
.navli {
        display: inline;
        margin-right: 100px;
        

}
/*
.sameline{
display:inline-block;
margin-right: 20px;
padding: 5px;

}
*{
  margin: 0;
  padding: 0;
}
div{
  display: block;
}
.block{
height: 1200px;
}
body {
    font-family: proximanova,arial,sans-serif;

    color: ;
  background: ;
    display: ;
    flex-direction: column;
position: relative;
border-radius: ;
    width: auto;
    height:1000px ;
    margin: 10px auto;
left:auto;
}
body {
display: block;
margin: 8px ;
}
#navbar {

width: auto;
height:800px;
 background-color: ;
position:;
top:10px;
left:10px;
border: 10px;
 border-style: solid;
  border-width: solid;
  padding: 10px;
}
.navul {
 margin: 0px;
 padding: 5px 0px 5px 30px;
}
.navli {
 display: inline;
 margin-right: 100px;

}
.separator.wide {
    height: 80px;
}
.moods{

font-size: 50px;
}
.comment{
width:;
height: ;
font-size:20px;
font-family:ans-serif;

}
*/