.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0e0e0;
  background-color: #282c34;
  

  .header {
    font-size: 36px;
    font-family: "Oswald", "Open Sans", sans-serif;
    line-height: 2;
  }

  .content {
    
    display: flex;
    flex-direction: column;
    

    .image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
      
        label {
          font-size: 20px;
        }
        input {
          margin-top: 1px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #fff9e0;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            // background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #f8c25fda;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 0.2rem;
  }
}
