div.grid-container {
    display: grid;
    grid-template-areas: 
    'g d'
    'g c'
    'g r';
    grid-template-rows: 1em auto 10em;
    grid-template-columns: 75% auto;
    gap: 4em;
    padding: 0 2em;
    margin-top: 2em;
    margin-right: 5em;
}

div.rateContainer {
  grid-area: r;
}
div.gameContentContainer {
    grid-area: c;
    padding: 1em;
    background: white;
    font-size: 1.2em;
    border: 0.4em solid cyan;
    border-radius: 1em;

}
div.gameContentContainer h4 {
  margin-top: 0.1em;
}
.downloadbutton {
    color: #04444e;
    margin-left: auto;
    margin-right: auto;
    /*
    justify-content: center;
    */
    display: block;
    text-align: center;
    border-radius: 2em;
    border: 0.2em solid darkcyan;
    font-size: 1.7em;
    background: none;
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: cyan;
    font-weight: bold;
    text-transform: uppercase;
    /*background-color: green;
    color: white;
    width: auto;
    height: 40px;
    font-family: Agency FB;
    font-size: 25px;*/
    
}
#undownload {
  background-color: grey;
  border: 0.2em solid darkgrey;
}
    
    
#dlbutton:hover {transform: scale(1.25);}
    
.play-time {
    margin: 0;
    animation-name: colors;
    text-align: center;
    display: block;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 2em;
    
}
    

@keyframes colors {
    0% {color: white;}

    25% {color: cyan;}

    50% {color: blue;}

    75% {color: red;}

    100% {color: white;}
}

iframe.game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

div.gameContainer {
    grid-area: g;
}









//// rate content // getting from outside page
$background: #272c34;
$filled: #f4a100;
$unfilled: #fff;

.hb-ratingbar {
  position: relative;
  width: 250px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;

  &:hover .filled {
    background: lighten($filled, 10%); 
  }
  
  .unfilled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $unfilled;
    z-index: 1;
  }

  .filled {
    position: absolute;
    transition: 0.2s width ease;
    top: 0;
    left: 0;
    height: 100%;
    background: $filled;
    z-index: 2;
  }

  .cover {
    color: $background;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @for $i from 0 through 10 {
    &[data-rated="#{$i*0.5}"] {
      .filled {
        width: $i * 10%;
      }
    }
  }
}
