.downloadbutton {
    margin-left: 23%;
    border-radius: 2em;
    border: 3px solid cyan;
    font-size: 2em;
    background: none;
    padding: 20px;
    /*background-color: green;
    color: white;
    width: auto;
    height: 40px;
    font-family: Agency FB;
    font-size: 25px;*/
    
    position: relative;
}
    
    
#dlbutton:hover {transform: scale(1.25);}
    
.play-time {
    animation-name: colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 2em;
    margin-left: 20%;
}
    

@keyframes colors {
    0% {color: white;}

    25% {color: cyan;}

    50% {color: blue;}

    75% {color: red;}

    100% {color: white;}
}

iframe.game {
    border: none;
}

div.gameContainer {
    margin-left: 2em;
}